.row {
  display: flex;
  padding: 20px;
  flex-direction: column;
  /* overflow-x: auto; */
  flex-wrap: wrap;
  /* background-image: linear-gradient(rgba(0, 0, 0, 0.6) 0, #101010 100%); */
}

.inner_row {
  display: flex;
  flex-direction: row;
  /* flex-wrap: wrap; */
}
.card {
  display: flex;
  flex-direction: column;
  width: 190px;
  padding: 20px;
  margin-right: 10px;
  background: #181818;
}

.card:hover {
  background: #282828;
}

.card > img {
  height: 150px;
  width: 150px;
  object-fit: contain;
  margin-bottom: 10px;
}
.artistsImg {
  border-radius: 50%;
}

.row_title {
  font-size: 24px;
  color: #fff;
  margin-bottom: 15px;
}

.card_title {
  font-size: 16px;
  color: #fff;
  font-weight: 700;
}

.playButton_box {
  background-color: white;
  transform: translate3d(124px, -100px, 10px);
  width: 10px;
  height: 10px;

  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.playButton_box {
  /* transform: scale(2); */
}

.playButton > path {
  color: green;
}
