.row {
  display: flex;
  padding: 20px;
  flex-direction: column;
  /* overflow-x: auto; */
  padding-bottom: 0;
  flex-wrap: wrap;
  /* background-image: linear-gradient(rgba(0, 0, 0, 0.6) 0, #101010 100%); */
}

.inner_row {
  display: flex;
  flex-direction: row;
  /* flex-wrap: wrap; */
}
.card {
  display: flex;
  flex-direction: column;
  width: 190px;
  padding: 20px;
  margin-right: 10px;
  background: #181818;
  position: relative;
}

.card:hover {
  background: #282828;
}

.card:hover .playButton_box {
  transform: scale(2);
  transition: all 0.1s ease;
}

.image > img {
  height: 150px;
  width: 150px;
  object-fit: contain;
  margin-bottom: 10px;
}
.artistsImg {
  border-radius: 50%;
}

.row_title {
  font-size: 24px;
  color: #fff;
  text-transform: capitalize;
  margin-bottom: 15px;
}
.image {
  position: relative;
}

.card_title {
  font-size: 16px;
  color: #fff;
  font-weight: 700;
}

.playButton_box {
  background-color: white;
  width: 10px;
  height: 10px;
  transform: scale(1.5);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 30px;
  right: 15px;
}

.playButton > path {
  color: green;
}

.card:focus .popup_container {
  display: flex;
}
.card:focus-within .popup_container {
  display: flex;
}
