.searchBar {
  min-width: 200px;
  display: flex;
  flex-grow: 1;
  height: 40px;
  width: 100%;
}

.searchBar > input {
  flex-grow: 1;
  height: 40px;
  max-width: 300px;

  padding: 6px 20px;
  border-radius: 20px;
  outline: none;
  text-overflow: ellipsis;
}
