.playlist_body {
  color: #fff;
  overflow-y: scroll;
  background-color: #121212;
  transform: translateY(-60px);
  /* height: calc(100vh - 20px); */
}
.playlist_info {
  height: 30vh;
  max-height: 500px;
  min-height: 340px;
  background-color: rgb(64, 152, 160);
  background-image: linear-gradient(transparent 0, rgba(0, 0, 0, 0.5) 100%);
  display: flex;
  align-items: center;
  padding: 10px 32px;
}

.playlist_info_image > img {
  height: 232px;
  min-width: 232px;
  width: 232px;
}

.type {
  font-size: 16px;
}

.playlist_name {
  padding: 0.08em 0px;
  font-size: 96px;
  line-height: 96px;
  visibility: visible;
  width: 100%;
}
.playlist_descption {
  margin-left: 20px;
}
.playlist_descption > * {
  color: #fff;
}

.playlists {
  padding: 32px;
  transform: translateY(-150px);
}
.playlists_details {
  display: grid;
  grid-template-columns: [index] 16px [first] 6fr [var1] 4fr [var2] 3fr [last] minmax(
      120px,
      1fr
    );
  align-items: center;
  grid-gap: 5px 16px;
  padding: 8px;
}

.playlists_details > * {
  color: #b3b3b3;
  letter-spacing: 0.1em;
}
.playlists_details_1 {
  display: grid;
  grid-template-columns: [index] 16px [first] 6fr [var1] 4fr [var2] 3fr [last] minmax(
      120px,
      1fr
    );
  height: 100%;
  padding: 10px;

  align-items: center;
  grid-gap: 5px 16px;
  border-bottom: 1px solid grey;
  margin-bottom: 10px;
}
.playlists_details_1 :first-child {
  font-size: 20px;
}

.playlists_details:hover {
  background-color: #80808066;
  border-radius: 2px;
}
.play_all {
  background-color: rgb(64, 152, 160);
  background-image: linear-gradient(rgba(0, 0, 0, 0.6) 0, #121212 100%);
  height: 232px;
  position: relative;
  padding-top: 40px;
  padding-left: 40px;
  display: flex;
}

.play_button {
  transform: scale(3);
}

.play_button_area {
  background-color: white;
  width: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30px;
}

.play_button:hover {
  transform: scale(3.2);
}

.play_button > path {
  color: green;
}
